@font-face {
    font-family: Sone;
    src: url("font/Sone.otf");
}

@font-face {
    font-family: Sansation;
    src: url("font/Sansation_Regular.ttf");
}
@font-face {
    font-family: SansationLight;
    src: url("font/Sansation_Light.ttf");
}
@font-face {
    font-family: SansationBold;
    src: url("font/Sansation_Bold.ttf");
}
textarea:focus, input:focus{
    outline: none;
}
html{
	width: 100%;
	height: 100%;
	margin: 0%;
	padding: 0%;
}
body{
	width: 100%;
	height: 90%;
	margin: 0%;
	padding: 0%;
}

.content-mobile{
    width: 100%;
    height: 100vh;
}


/*Top Bar*/
.topbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #000;
    display:flex;
}

#voltar {
    font-family: Sone;
    font-size: 6vh;
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    display: block;
    line-height: calc(50% + 6vh);
}
#txtTopo {
    font-family: Sone;
    font-size: 5vw;
    margin: auto;
    color: #fff;
    margin-left: 7vw;
}




/*3 Triangulos*/
#area {
    height: 90%;
    width: 100%;
    position: absolute;
    overflow: scroll;
    top: 10%;
    background: #e5e5e5;
}

#Imagem {

    width: 130px;
    height: 130px;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 5vw;
    left: 5vw;
    display: flex;
    z-index: 2;
    border-right: solid;
    border-color: #aaa;

}
.perfil{
    width: 56%;
    margin: auto;
}


#Box {

    position: absolute;
    height: 83px;
    width: 49vw;
    background: #ccc;
    top: calc(5vw + 22.5px);
    right: 5vw;
    z-index: 1;
    padding-left: 15vw;
    display: flex;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;

}
#nome {
    width: calc(100vw - 60px);
    position: absolute;
    top: 64px;
    font-family: Sansation;
    left: 30px;
    font-size: 18px;
    border-bottom: solid;
    border-width: 2px;
    border-color: #999;
    padding-bottom: 5px;
    padding-left: 5px;
}

#login {
    width: calc(100vw - 60px);
    position: absolute;
    top: 128px;
    font-family: Sansation;
    left: 30px;
    font-size: 18px;
    border-bottom: solid;
    border-width: 2px;
    border-color: #999;
    padding-bottom: 5px;
    padding-left: 5px;
}

#email {
    width: calc(100vw - 60px);
    position: absolute;
    top: 192px;
    font-family: Sansation;
    left: 30px;
    font-size: 18px;
    border-bottom: solid;
    border-width: 2px;
    border-color: #999;
    padding-bottom: 5px;
    padding-left: 5px;
}

#idade {
    width: calc(100vw - 60px);
    position: absolute;
    top: 256px;
    font-family: Sansation;
    left: 30px;
    font-size: 18px;
    border-bottom: solid;
    border-width: 2px;
    border-color: #999;
    padding-bottom: 5px;
    padding-left: 5px;
}

#sexo {
    width: calc(100vw - 60px);
    position: absolute;
    top: 320px;
    font-family: Sansation;
    left: 30px;
    font-size: 18px;
    border-bottom: solid;
    border-width: 2px;
    border-color: #999;
    padding-bottom: 5px;
    padding-left: 5px;
}

#tipo {
    width: calc(100vw - 60px);
    position: absolute;
    top: 384px;
    font-family: Sansation;
    left: 30px;
    font-size: 18px;
    border-bottom: solid;
    border-width: 2px;
    border-color: #999;
    padding-bottom: 5px;
    padding-left: 5px;
    color: #999;
}


#nomeString {
    position: absolute;
    top: calc(64px - 23px);
    font-family: Sansation;
    left: 30px;
    font-size: 16px;
    color: #555;
}
#loginString{
    position: absolute;
    top: calc(128px - 23px);
    font-family: Sansation;
    left: 30px;
    font-size: 16px;
    color: #555;
}
#emailString{
    position: absolute;
    top: calc(192px - 23px);
    font-family: Sansation;
    left: 30px;
    font-size: 16px;
    color: #555;
}
#idadeString{
    position: absolute;
    top: calc(256px - 23px);
    font-family: Sansation;
    left: 30px;
    font-size: 16px;
    color: #555;
}
#sexoString{
    position: absolute;
    top: calc(320px - 23px);
    font-family: Sansation;
    left: 30px;
    font-size: 16px;
    color: #555;
}
#tipoString{
    position: absolute;
    top: calc(384px - 23px);
    font-family: Sansation;
    left: 30px;
    font-size: 16px;
    color: #555;
}



#Salvar {

    position: absolute;
    top: 510px;
    width: 90vw;
    height: 55px;
    border: none;
    background: #257a22;
    color: #fff;
    left: 5vw;
    font-family: Sansation;
    border-radius: 50px;
    font-size: 20px;
    transition: transform ease-in 0.1s;
    margin-bottom: 20px;
}
#Salvar:active{
    transform: scale(0.9);
}

input{
    background: transparent;
    border:none;
}
